<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'dashboard' %}">
				<i class="typcn typcn-device-desktop menu-icon"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'settings' %}">
				<i class="typcn typcn-document-text menu-icon"></i>
				<span class="menu-title">Settings</span>
				
			</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
				<i class="typcn typcn-chart-pie-outline menu-icon"></i>
				<span class="menu-title">Charts</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="charts">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
				</ul>
			</div>
		</li>



	</ul>
</nav>