{% extends 'base.html' %}
<!-- Page Statics -->
{% load static %}
<!-- Page Tile -->
{% block title %} Sign In {% endblock title %} {% load widget_tweaks %}


<!-- Page Content Starts From Here -->
{% block content %}

<!-- ADD MEAL MODAL -->
<div class="modal fade" id="addMealModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add a meal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">


				<form id="addmeal">
				

					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search Food"
								aria-label="Recipient's username" name="food_name">
						</div>

						<br>
					
						
						<div class="input-group">
							<input type="number" class="form-control" placeholder="Servings"
							aria-label="Recipient's username" name="quantity">
						</div>

						<br>

						<p id="error1"></p>
						
					</div>
					
				</form>
				

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" onclick="doMagic()" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>



<!-- ADD CAMERA MODAL -->
<div class="modal fade" id="addCamera" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add a meal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">


				<div id="qr-reader" class="col-12"></div>

				

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" onclick="doMagic()" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>


<!-- ADD EXERCISE MODAL -->
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add a meal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">


				<form id="addexercise">
					

				  <div class="form-group">
					<label for="exampleFormControlSelect2">Exercise</label>
					<select class="form-control" id="exercise" name="exercise" value='{{ profile.gender }}' id="exampleFormControlSelect2">
						{% for exercise in exercises %}
							<option value="{{exercise.id}}">{{exercise.name}}</option>
						{% endfor %}
					</select>

					<br>
					
						
						<div class="input-group">
							<input type="number" class="form-control" placeholder="Duration in minutes"
							aria-label="Recipient's username" name="duration">
						</div>

						<br>

						<p id="error2"></p>
						
					</div>
					
				</form>
				

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" onclick="doMagic2()" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Top Buttons -->

<div class="row col-12">

	<div class="col-xl-12 grid-margin stretch-card flex-column" style="background-color: transparent; border: none;">
		<div class="card" style="background-color: transparent; border: none; box-shadow: none;">
			<div class="card-body d-flex flex-column justify-content-between p-0">

				<div class="justify-content-between align-items-center mb-12 p-0">

					<button type="button"
						class="btn col-lg-2 col-md-2 col-2 col-lg-2 col-xl-2 col-sm-12 p-1 btn-primary btn-icon-text"
						data-toggle="modal" data-target="#addMealModal">
						<span class="mdi mdi-food" style="font-size:30px;"></span>
						Add Meal
					</button>

					<button type="button"
						class="btn col-lg-2 col-md-2 col-2 col-lg-2 col-xl-2 col-sm-12 p-1 btn-primary btn-icon-text"
						data-toggle="modal" data-target="#addExerciseModal">
						<span class="mdi mdi-run" style="font-size:30px;"></span>
						Add Exercise
					</button>

					<button type="button" onclick="incrementWater()"
						class="btn col-lg-2 col-md-2 col-2 col-lg-2 col-xl-2 col-sm-12 p-1 btn-primary btn-icon-text">
						<span class="mdi mdi-water" style="font-size:30px;"></span>
						Drink Water
					</button>

					<button onclick="opencam()" type="button"
						class="btn col-lg-2 col-md-2 col-2 col-lg-2 col-xl-2 col-sm-12 p-1 btn-primary btn-icon-text"
						data-toggle="modal" data-target="#addCamera">
						<span class="mdi mdi-camera-enhance" style="font-size:30px;"></span>

						Scan Product
					</button>

					<button type="button"
						class="btn col-lg-2 col-md-2 col-2 col-lg-2 col-xl-2 col-sm-12 p-1 btn-primary btn-icon-text"
						data-toggle="modal" data-target="#addMealModal">
						<span class="mdi mdi-human-male-height" style="font-size:30px;"></span>


						Body Measurements
					</button>

				</div>
			</div>
		</div>
	</div>


</div>

<!-- Main Dashboard -->

<div class="row">
	<div class="col-xl-6 grid-margin stretch-card flex-column">

		<div class="row">
			<div class="col-md-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">

						<div class="justify-content-between align-items-center mb-12">
							<p class="mb-12 text-muted">Quote of the day</p>
							<p> {{quote.quote}}</p>
							<p class="text-muted"> {{quote.author}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">

						<div class="justify-content-between align-items-center mb-12">
							<p class="mb-12 text-muted">Water Intake</p>
							<!-- <h4>5 / 8</h4> -->

							<!-- <div class="row">
									<div class="btn-group" role="group" aria-label="Basic example">
										<button type="button" class="btn btn-rounded btn-success">
											<i class="typcn typcn-heart-outline"></i>
										</button>
										<button type="button" class="btn btn-rounded btn-danger">
											<i class="typcn typcn-time"></i>
										</button>
									</div>
								</div> -->

							<canvas id="water" class="chartjs-render-monitor"></canvas>

						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-xl-6 grid-margin stretch-card flex-column">

		<div class="row h-100">
			<div class="col-md-12 stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<div class="d-flex justify-content-between align-items-start flex-wrap">
							<div>
								<p class="mb-3">Daily Calorie Consumed & Burned</p>
								<h3 id="target1">{{targets.target_calorie_burn}} /  {{targets.target_calorie_intake}}</h3>
							</div>
							<div id="income-chart-legend" class="d-flex flex-wrap mt-1 mt-md-0">
								<!-- <div class="d-flex align-items-center">
									<div class="mr-2"
										style="width: 12px; border-radius: 50%; height: 12px; background-color: rgb(0, 200, 191); --darkreader-inline-bgcolor:#00a099;"
										data-darkreader-inline-bgcolor=""></div>
									<!-- <p class="mb-0">Consumption</p> 
								</div> -->
							</div>
						</div>

						<canvas id="targets" class="chartjs-render-monitor"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 grid-margin stretch-card flex-column">

		<div class="row h-100">
			<div class="col-md-12 stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<div class="d-flex justify-content-between align-items-start flex-wrap">
							<div>
								<p class="mb-3">BMI & Weight Progress</p>
								<h3>1000 / 2500</h3>
							</div>
							<!-- <div id="income-chart-legend" class="d-flex flex-wrap mt-1 mt-md-0">
								<div class="d-flex align-items-center">
									<div class="mr-2"
										style="width: 12px; border-radius: 50%; height: 12px; background-color: rgb(0, 200, 191); --darkreader-inline-bgcolor:#00a099;"
										data-darkreader-inline-bgcolor=""></div>
									<p class="mb-0">Consumption</p>
								</div>
							</div> -->
						</div>

						<canvas id="bmitargets" class="chartjs-render-monitor"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 grid-margin stretch-card flex-column">

		<div class="row h-100">
			<div class="col-md-12 stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<div class="d-flex justify-content-between align-items-start flex-wrap">
							<div>
								<p class="mb-3">Daily Calorie Consumed & Burned</p>
								<!-- <h3>1000 / 2500</h3> -->
							</div>
							<div id="income-chart-legend" class="d-flex flex-wrap mt-1 mt-md-0">
								<!-- <div class="d-flex align-items-center">
									<div class="mr-2"
										style="width: 12px; border-radius: 50%; height: 12px; background-color: rgb(0, 200, 191); --darkreader-inline-bgcolor:#00a099;"
										data-darkreader-inline-bgcolor=""></div>
									<p class="mb-0">Consumption</p>
								</div> -->
							</div>
						</div>

						<canvas id="safasfsd" class="chartjs-render-monitor"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





	<!-- Page Content Ends -->
	{% endblock content %}

	{% block js %}

<script src="https://unpkg.com/html5-qrcode"></script>

<!-- <script data-hm="{{one_week_summary}}"></script> -->

<script>

var WOW = JSON.parse('{{ one_week_summary|safe }}');
var WATER_CON = {{ water|safe }} ;
var TARGETS = {{ targets|safe }}
var WATER_TAR = WATER_CON["target"];
var WATER_CON = WATER_CON["consumed"];
var BMIS = [];
console.log(WOW, WATER_CON);

var BURNED_SUM = []
var CONSUMED_SUM = []
var DAYS = []
var BMI = []
var WEIGHT = []

for (var i in WOW){
	console.log(WOW[i]);
	BURNED_SUM.push(WOW[i]["total_calories_burned"])
	CONSUMED_SUM.push(WOW[i]["total_calories_intake"])
	DAYS.push(WOW[i]["log_date"])
	BMI.push(WOW[i]["bmi"])
	WEIGHT.push(WOW[i]["weight"])
}

function onScanSuccess(decodedText, decodedResult) {
	alert("CODE IS" + decodedResult["decodedText"]);
	// set get request to the server 
	// server will use this id to get product data
	// and will return us the prodiuct info
	console.log(`Code scanned = ${decodedText}`, decodedResult);
	html5QrcodeScanner.clear();
}


var html5QrcodeScanner = new Html5QrcodeScanner(
  "qr-reader", { fps: 10, qrbox: 250 });


  $( '#addcamera' )
   .on('hide', function() {
       console.log('hide');
   })
   .on('hidden', function(){
       console.log('hidden');
   })

function opencam(){

	html5QrcodeScanner.render(onScanSuccess);
}


	function doMagic(){
		console.log("running");
		$("#addmeal").submit();
	}

	function doMagic2(){
		console.log("running");
		$("#addexercise").submit();

	}



	$("#addexercise").on("submit", function (e) {
		e.preventDefault();

		console.log("running 2");

		data = $(this).serialize();
		data["csrfmiddlewaretoken"] = CSRF;
		console.log(data)
		$.ajax({
			type: "POST",
			url: "/e-log/",
			headers: HEADER,
			data: data,
			success: function(data){
				console.log( "Data Saved: " , data );
				// window.location.href = "/fr/dashboard/";
				$("#error2").text("Exercise recorded")
				$("#error2").addClass("green");
				$("#error2").removeClass("red");
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				var status = XMLHttpRequest.status;
				var data = XMLHttpRequest.responseJSON;
				console.log(status, data);

				$("#error2").text("Something went wrong");


				$("#error2").addClass("red");
				$("#error2").removeClass("green");

			}
		});




	});


	function addWater(quantity = 1){
		var data = {
			"food_name" : "water",
			"quantity" : quantity
		}

		data["csrfmiddlewaretoken"] = CSRF;

		$.ajax({
			type: "POST",
			url: "/food-log/",
			headers: HEADER,
			data: data,
			success: function(data){
				console.log( "Data Saved: " , data );
				alert("You just drank water, congrats")
				// window.location.href = "/fr/dashboard/";
		
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				var status = XMLHttpRequest.status;
				var data = XMLHttpRequest.responseJSON;
				console.log(status, data);

			}
		});

	}

	function incrementWater(){
		addWater(1);
	}

	function decrementWater(){
		addWater(-1);
	}


	$("#addmeal").on("submit", function (e) {
		e.preventDefault();

		console.log("running 2");

		data = $(this).serialize();
		data["csrfmiddlewaretoken"] = CSRF;

		$.ajax({
			type: "POST",
			url: "/food-log/",
			headers: HEADER,
			data: data,
			success: function(data){
				console.log( "Data Saved: " , data );
				// window.location.href = "/fr/dashboard/";
				$("#error1").text("Meal added")
				$("#error1").addClass("green");
				$("#error1").removeClass("red");
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				var status = XMLHttpRequest.status;
				var data = XMLHttpRequest.responseJSON;
				console.log(status, data);

				if (status == 404){
					$("#error1").text("Food item not found");
				}
				else{
					$("#error1").text("Something went wrong");
				}


				$("#error1").addClass("red");
				$("#error1").removeClass("green");

			}
		});




	});



</script>




	<script>
		// const c = document.getElementById("targets").getContext("2d");
		const calorieCtx = document.getElementById('targets');
		const waterCtx = document.getElementById("water");
		const bmiCtx = document.getElementById("bmitargets");
		

		function calorieTarget(ctx) {
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: DAYS,
					datasets: [
						{
							label: 'Consumed',
							borderColor: "red",
							borderWidth: 2,
							fill: false,
							data: CONSUMED_SUM
						},

						{
							label: 'Burned',
							borderColor: "green",
							borderWidth: 2,
							fill: false,
							data: BURNED_SUM
						},

					]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Chart.js Drsw Line on Chart'
					},
					tooltips: {
						mode: 'index',
						intersect: true
					},
				}
			});
		}


		function bmiTarget(ctx) {
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: DAYS,
					datasets: [
						{
							label: 'BMI',
							borderColor: "red",
							borderWidth: 2,
							fill: false,
							data: BMI
						},

						{
							label: 'Weight',
							borderColor: "green",
							borderWidth: 2,
							fill: false,
							data: WEIGHT
						},

					]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Chart.js Drsw Line on Chart'
					},
					tooltips: {
						mode: 'index',
						intersect: true
					},
				}
			});
		}

		function waterTarget(ctx) {
			var myChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels:
						["Consumed", "Target"],

					datasets: [{
						label: 'Water Consumption',
						data: [WATER_CON, WATER_TAR],
						backgroundColor: [
							'rgb(54, 162, 235)',
							'rgb(59, 59, 59)'

						],
						hoverOffset: 4
					}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Chart.js Drsw Line on Chart'
					},
					tooltips: {
						mode: 'index',
						intersect: true
					},
				}
			});
		}

		calorieTarget(calorieCtx);
		waterTarget(waterCtx);
		bmiTarget(bmiCtx);
	

	</script>

	{% endblock js %}