{% extends 'base.html' %}
<!-- Page Statics -->
{% load static %}
<!-- Page Tile -->
{% block title %} Sign Up {% endblock title %} {% load widget_tweaks %}
<!-- Page Content Starts From Here -->
{% block content %}

<div class="col-md-3 grid-margin stretch-card"></div>
<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Register for an account</h4>
			<p class="card-description">
				Basic form layout
			</p>
			<form id="registerForm" class="forms-sample">

				{% csrf_token %}

				<div class="form-group">
					<label for="first_name">First Name</label>
					<input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
				</div>

				<div class="form-group">
					<label for="last_name">Last Name</label>
					<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
				</div>

				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password1">Password</label>
					<input type="password" class="form-control" id="password1" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="password2">Confirm Password</label>
					<input type="password" class="form-control" id="password2" placeholder="Password">
				</div>
				<div class="form-check form-check-flat form-check-primary">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input">
						Remember me
						<i class="input-helper"></i></label>
				</div>
				<div class="form-group">
					<code class="errros" id="error"></code>
				</div>
				<button type="submit" class="btn btn-primary mr-2">Submit</button>
				<button class="btn btn-light">Cancel</button>
			</form>
		</div>
	</div>
</div>


<!-- Page Content Ends -->
{% endblock content %}

{% block js %}

<script>


	$("#registerForm").on("submit", function (e) {
		e.preventDefault();

		var pass = $("#password1").val();
		var pass2 = $("#password2").val();
		if (pass != pass2) {
			alert("Password didn't match");
			return;
		}

		// var username = $("#username").val();
		// var email = $("#email").val();

		// var data = {
		// 	"username" : username,
		// 	"email" : email,
		// 	"password" : pass
		// };

		$.ajax({
			type: "POST",
			url: "/account/",
			data: $(this).serialize(),
			success: function(data){
				console.log( "Data Saved: " , data );
				window.location.href = "/fr/dashboard/";
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				var status = XMLHttpRequest.status;
				var data = XMLHttpRequest.responseJSON;

				console.log(status, data);

				message = data["data"]["message"][0];

				$("#error").text(message);
			}
		});




	});




</script>

{% endblock js %}